.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #282c34;
}
.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Ensures the aspect ratio is maintained */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.cta-buttons .login-btn,
.cta-buttons .signup-btn {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
}

.login-btn {
  background-color: #61dafb;
}

.signup-btn {
  background-color: #ff7f50;
  color: white;
}
