.footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.social-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.social-links a:hover {
  color: #61dafb;
}

.footer-links {
  margin-top: 15px;
}

.footer-links a {
  margin: 0 10px;
  color: #61dafb;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links a:not(:last-child) {
  border-right: 1px solid #61dafb;
  padding-right: 10;
}
